# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: React CI/CD

on:
  push:
    branches: [deploy]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    env:
      CI: ""
    steps:
      - uses: actions/checkout@v3 ${{github.madhavpatel1810/reactjs-ecom-github-actions}}
      - name: Copy folder content recursively to vps
        uses: ./
        with:
          local: build
          remote: /var/www/html/build
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
